/*======================================================
Topbar
=======================================================*/

#topBar {
	background-color: #D3D3D3;
	width:100%;
	height:100%;
	padding:20px;
}
#logo {
	padding: 0px 10px 20px 10px;
	width: 150px;
	height:30px;
	background-color: #696969;
	position: relative;
	left:20px;
	border: 1px grey solid;
}

#logo p:nth-child(n) {
	width:100%;
	height:100%;
	position: relative;
	left: 55px;
	font-size:16px;
	color:white;
}

/*======================================
             icon section
========================================*/

.iconSection{
  display: inline-block;
  width:100%;
  /*border-style:solid;
  border-color:black;*/
}

.iconSection iconButtons:nth-child(1) {
	margin-top:20px;
}


.iconSection span {
  display:block;
  margin-bottom: 70px;
  border-style:solid;
  border-color:black;
}


/*.iconSections2{
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
  
}*/


.iconButtons{
  display: inline-block;
 /* border-style:solid;
  border-color:black;*/
  border-radius: 50px;
  width:  100px;
  height: 100px;
  background-color: rgb(160,160,160);
  margin-right:5%;
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}


.iconButtonsGrey {
  display: inline-block;
 /* border-style:solid;
  border-color:black;*/
  border-radius: 50px;
  width:  100px;
  height: 100px;
  background-color: rgb(69,69,69);
  margin-right:5%;
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}


.imgIcon {
  position: relative;
  top: 40px;
  left: 40px;
  width: 20px;
  height: 20px;
}

.fullName {
  position: relative;
  top: 75%;
  text-align: center;
  font-size: 15px;
  color: black;
}


.resume {
  color: black;
  position: relative;
  top: 60%;
  text-align: center;
  font-size: 11px;
}


.videoText {
  position: relative;
  top: 20px;
  left: 25px;
  width: 40px;
  height: 20px;
  text-align: center;
  font-size:10px;
  color: white;

}

.fullNameVideo{
  position: relative;
  top: 75%;
  text-align: center;
  font-size: 15px;
  color: black;
}

.resumeVideo {
  color: black;
  position: relative;
  top: 65%;
  text-align: center;
  font-size: 11px;
}



/*================================================
Footer
=================================================*/
#footer {
	width:100%;
	height:100%;
	background-color:#D3D3D3;
	padding: 20px 0px 40px 0px;
	color: grey;
}

#copyRight {
width:70%;
height:100%;
float:left;
display: block;
padding-left:10px;
}

#navBarBottom  {
	position: relative;
	font-size:10;
	display: inline-block;
	width: 25%;

	
}

#navBarBottom  li {
	font-size:10;
	display: inline;
}
#socailImages {
	position:relative;
	float: right;
	right: 200px;
	bottom: 30px;
	clear:both;
}
#socailImages li{
	display: inline;
	padding: 10px;
}
#socailImages img{
	width:20px;
}

