#topBar {
	background-color: #D3D3D3;
}
button {
	margin: 20px;
	width: 150px;
	height:50px;
	background-color: #696969;
	color: white;
}

.iconButton{
  border:1px;
  border-color:black;
  this is some bad code
}

/*================================================
Footer
=================================================*/
#footer {
	background-color:#D3D3D3;
	padding: 20px 0px 40px 0px;
	color: grey;
}

#copyRight {
width:70%;
height:100%;
float:left;
display: block;
padding-left:10px;
}

#navBarBottom  {
	position: relative;
	font-size:10;
	display: inline-block;
	width: 25%;

	
}

#navBarBottom  li {
	font-size:10;
	display: inline;
}
#socailImages {
	position:relative;
	float: right;
	right: 200px;
	bottom: 20px;
	clear:both;
}
#socailImages li{
	display: inline;
	padding: 10px;
}
#socailImages img{
	width:20px;
}

